/* design profile with CSS */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&family=Playfair+Display&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
/*background-color, font-family, color, font-size and line-height*/

body {
  background-color: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
  color: #03506f;
  font-size: 22px;
}

/*headers*, color, font-family, font-size, line-height*/

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  color: #03506f;
}

h2 {
  font-size: 22px;
  color: #314e52;
}

h3 {
  font-weight: 200;
 }

 p {
  font-family:'Lora', serif;
  font-size: 18px;
  padding: 20px;
 }

 /*links*/

 a {
  color: #FFD6AD;
  text-decoration: none;
  font-weight: 800;
  font-size: 25px;
 }

    .container {
  margin-left: 350px;
  margin-right: 350px;
  }

@media screen and (max-width: 800px) {

  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.card-white {
  margin: 20px auto;
  padding:40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.image-circle {
  border-radius: 50%;
  width: 100px;
}

.btn-orange {
    background-color:#f2a154;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    margin: 25px;
    font-size: 18px;
    font-weight: 900;

}

.btn-orange:hover {
  background-color: #FCA311;

}

.list-inline {
  list-style: none;
  padding: 0px;
  font-size: 30px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 16px;
}

.yoga-img {
  padding: 50px;
}

.emoji {
  font-size: 32px;
}

#contact-link {
 font-size: 18px;
}

#form-title {
  font-family: 'Montserrat', sans-serif;
  color: #f2a154;
  font-size: 22px;
  padding: 0px;
  margin-bottom: 0px;
}

input[type=text], textarea {
  width: 60%;
  border-radius: 16px;
  border: 3px solid #e5e5e5;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin: none;
}

input[placeholder], textarea[placeholder] {
  padding: 15px;
  background-color: #e5e5e5;

}

::placeholder {
  color: #858585;
};

label {
  text-align: left;
}


